---
BasedOnStyle: Google
ColumnLimit: 150

AlignAfterOpenBracket: BlockIndent

BinPackArguments: false
AllowAllArgumentsOnNextLine: true

BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true

AllowShortIfStatementsOnASingleLine: AllIfsAndElse

AlignConsecutiveAssignments: false
AlignConsecutiveMacros: true

BreakBeforeBinaryOperators: NonAssignment

AlignEscapedNewlines: Right
